/**/
.grid.month{
    width: auto;
    position: relative;
    display: inline-flex;
    padding: 1rem 0
}
.row.week-row {
    flex-wrap: nowrap !important;
    flex: 1 0 100%;
    min-width: min-content;
    min-height: min-content;
    justify-content: flex-start ;
    padding: 0.5rem 1rem !important;
    border-bottom: 2px solid rgba(0,0,0,0.06) !important;
}
span.month ,
p.month {
    font-size: 12px;
    margin: 0 0 0em;
    font-weight: 600;
}
p.month.day{
    color: #4b72bd;
}
p.no.month.day{
    color: #a3bbe2;
}
p.month.number ,
span.month{
    color:#767676;
    padding:0px 2px
}
.column .week{
    padding-right:0rem !important;
    padding-left:0rem !important;
}
.wide.week{
    width:225px !important;
}
.wide.employee{
    width:185px !important;
}
